In [3]:
import pandas as pd
import numpy as np

In [5]:
# Total number of smaple
n_total = 100

In [7]:
# proportion of male and female
p_male_ratio = 0.49
p_female_ratio = 0.51

# compute num of male and female 
n_male = int(n_total * p_male_ratio)
n_female = int(n_total * p_female_ratio)

In [9]:
# Generate the Sex column
Sex = ['MALE'] * n_male + ['FEMALE'] * n_female
# shuffle the sex column 
np.random.shuffle(Sex)

In [11]:
# Age group proportion based on 2021 dataset 

age_distribution = {
    "age_0_14": 18.3,
    "age_15_17": 3.42,
    "age_18_20": 2.28,
    "age_21_24": 6.2,
    "age_25_29": 7.0,
    "age_30_34": 7.3,
    "age_35_39": 7.0,
    "age_40_44": 6.5,
    "age_45_49": 6.2,
    "age_50_54": 6.3,
    "age_55_59": 6.1,
    "age_60_64": 5.9,
    "age_65_69": 5.1,
    "age_70_74": 4.6,
    "age_75_79": 3.2,
    "age_80_84": 2.2,
    "age_85_over": 2.1
}

for i in age_distribution.keys():
    age_distribution[i] = round(age_distribution[i] * 0.01, 4)

# Compute num of each age group
num_ageGroup_list = []

for i in age_distribution.keys():
    num_of_a_ageGroup = int(age_distribution[i] * n_total)
    num_ageGroup_list.append(num_of_a_ageGroup)

# Create a list for age label
age_labels = list(age_distribution.keys())

# Generate the Age column
Age = []
for label, count in zip(age_labels, num_ageGroup_list):
    Age.extend([label]*count)

# Check if the number of label value in column Age = n_total or not, if not, fill in the random number to reach the n_total
remaining = n_total - len(Age)
if remaining > 0:
    Age.extend(np.random.choice(age_labels, remaining))

# Shuffle the value in the Age column
np.random.shuffle(Age)

In [13]:
# Income generation based on regression result of (Age + Sex) and (Age * Sex) 
regression_results = {
    "intercept": -2505.874,
    "intercept_with_interaction": 1132.80,
    "Male": 8245.466,
    "Male_with_interaction": 58.45,
    "age_14_and_under": -4497.592,
    "age_14_and_under_with_interaction": 50.75,
    "age_15_to_17": 1244.541,
    "age_15_to_17_with_interaction": 1637.80,
    "age_18_to_20": 4935.541,
    "age_21_to_24": 10991.641,
    "age_25_to_29": 19184.141,
    "age_30_to_34": 30440.441,
    "age_35_to_39": 38652.641,
    "age_40_to_44": 42972.541,
    "age_45_to_49": 44856.341,
    "age_50_to_54": 45082.841,
    "age_55_to_59": 43672.341,
    "age_60_to_64": 37610.641,
    "age_65_to_69": 24346.141,
    "age_70_to_74": 12628.141,
    "age_75_to_79": 7503.041,
    "age_75_to_79_with_interaction": 6745.00,
    "age_80_to_84": 5364.741,
    "age_80_to_84_with_interaction": 5382.80,
    "age_85_and_over": 5639.341,
    "age_85_and_over_with_interaction": 5996.80
}

# Compute the expected median income per year for each age group
income_14_male = round(regression_results["intercept"] + regression_results['Male'] + regression_results['age_14_and_under'])
income_14_female = round(regression_results['intercept_with_interaction'] + regression_results['age_14_and_under_with_interaction'])

income_15_17_male = round(regression_results['intercept'] + regression_results['Male'] + regression_results['age_15_to_17'])
income_15_17_female = round(regression_results['intercept_with_interaction'] + regression_results['age_15_to_17_with_interaction'])

income_18_20_male = round(regression_results["intercept"] + regression_results['Male'] + regression_results['age_18_to_20'])
income_18_20_female = round(regression_results["intercept"] + regression_results['age_18_to_20'])

income_21_24_male = round(regression_results["intercept"] + regression_results['Male'] + regression_results['age_21_to_24'])
income_21_24_female = round(regression_results["intercept"] + regression_results['age_21_to_24'])

income_25_29_male = round(regression_results["intercept"] + regression_results['Male'] + regression_results['age_25_to_29'])
income_25_29_female = round(regression_results["intercept"] + regression_results['age_25_to_29'])

income_30_34_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_30_to_34"])
income_30_34_female = round(regression_results["intercept_with_interaction"] + regression_results["age_30_to_34"])

income_35_39_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_35_to_39"])
income_35_39_female = round(regression_results["intercept"] + regression_results["age_35_to_39"])

income_40_44_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_40_to_44"])
income_40_44_female = round(regression_results["intercept"] + regression_results["age_40_to_44"])

income_45_49_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_45_to_49"]) # 50596 vs real: 51,000 - 57,000
income_45_49_female = round(regression_results["intercept"] + regression_results["age_45_to_49"]) # 42350 vs real: 34,000 - 39,000

income_50_54_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_50_to_54"]) # 50822 vs real: 54,000 -59,000
income_50_54_female = round(regression_results["intercept"] + regression_results["age_50_to_54"]) # 42577 vs real: 35,000 - 40,000

income_55_59_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_55_to_59"]) # 49412 vs real: 50,000 -57,000
income_55_59_female = round(regression_results["intercept"] + regression_results["age_55_to_59"]) # 41166 vs real: 34,000 - 39,000

income_60_64_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_60_to_64"]) # 43350
income_60_64_female = round(regression_results["intercept"] + regression_results["age_60_to_64"]) # 35105

income_65_69_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_65_to_69"])
income_65_69_female = round(regression_results["intercept"] + regression_results["age_65_to_69"])

income_70_74_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_70_to_74"])
income_70_74_female = round(regression_results["intercept"] + regression_results["age_70_to_74"])

income_75_79_male = round(regression_results["intercept"] + regression_results["Male"] + regression_results["age_75_to_79"])
income_75_79_female = round(regression_results["intercept_with_interaction"] + regression_results["age_75_to_79_with_interaction"])

income_80_84_male = round(regression_results["intercept_with_interaction"] + regression_results["Male_with_interaction"] + regression_results["age_80_to_84_with_interaction"])
income_80_84_female = round(regression_results["intercept_with_interaction"] + regression_results["age_80_to_84_with_interaction"])

income_85_over_male = round(regression_results["intercept_with_interaction"] + regression_results["Male_with_interaction"] + regression_results["age_85_and_over_with_interaction"])
income_85_over_female = round(regression_results["intercept_with_interaction"] + regression_results["age_85_and_over_with_interaction"])

# steore the corresponding median for each age to a dict

income_by_age_sex = {
    "age_0_14": {
        "MALE": income_14_male, 
        "FEMALE": income_14_female
    },
    "age_15_17": {
        "MALE": income_15_17_male,
        "FEMALE": income_15_17_female
    },
    "age_18_20": {
        "MALE": income_18_20_male,
        "FEMALE": income_18_20_female
    },
    "age_21_24": {
        "MALE": income_21_24_male,
        "FEMALE": income_21_24_female
    },
    "age_25_29": {
        "MALE": income_25_29_male,
        "FEMALE": income_25_29_female
    },
    "age_30_34": {
        "MALE": income_30_34_male,
        "FEMALE": income_30_34_female
    },
    "age_35_39": {
        "MALE": income_35_39_male,
        "FEMALE": income_35_39_female
    },
    "age_40_44": {
        "MALE": income_40_44_male,
        "FEMALE": income_40_44_female
    },
    "age_45_49": {
        "MALE": income_45_49_male,
        "FEMALE": income_45_49_female
    },
    "age_50_54": {
        "MALE": income_50_54_male,
        "FEMALE": income_50_54_female
    },
    "age_55_59": {
        "MALE": income_55_59_male,
        "FEMALE": income_55_59_female
    },
    "age_60_64": {
        "MALE": income_60_64_male,
        "FEMALE": income_60_64_female
    },
    "age_65_69": {
        "MALE": income_65_69_male,
        "FEMALE": income_65_69_female
    },
    "age_70_74": {
        "MALE": income_70_74_male,
        "FEMALE": income_70_74_female
    },
    "age_75_79": {
        "MALE": income_75_79_male,
        "FEMALE": income_75_79_female
    },
    "age_80_84": {
        "MALE": income_80_84_male,
        "FEMALE": income_80_84_female
    },
    "age_85_over": {
        "MALE": income_85_over_male,
        "FEMALE": income_85_over_female
    }
}

In [15]:
syn_dataset  = pd.DataFrame({
    'Sex': Sex,
    'Age': Age
})

In [25]:
syn_dataset["Median_income_per_year"] = syn_dataset.apply(
    lambda row: income_by_age_sex[row["Age"]][row["Sex"]],
    axis=1
)

In [19]:
syn_dataset.head(10)

      Sex        Age  Median income per year
0    MALE  age_50_54                   50822
1    MALE  age_21_24                   16731
2  FEMALE  age_45_49                   42350
3    MALE  age_65_69                   30086
4  FEMALE   age_0_14                    1184
5    MALE  age_15_17                    6984
6  FEMALE  age_30_34                   31573
7    MALE  age_70_74                   18368
8    MALE   age_0_14                    1242
9    MALE  age_70_74                   18368

In [33]:
import statsmodels.formula.api as smf

# run the statistical model to compare the real and synthetic data

# simple linear reg age + sex
simple_reg_model = smf.ols('Median_income_per_year ~ Sex + Age', data= syn_dataset).fit()
simple_reg_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                              OLS Regression Results
==================================================================================
Dep. Variable:     Median_income_per_year   R-squared:                       0.993
Model:                                OLS   Adj. R-squared:                  0.992
Method:                     Least Squares   F-statistic:                     685.0
Date:                    Thu, 17 Apr 2025   Prob (F-statistic):           7.48e-81
Time:                            13:46:45   Log-Likelihood:                -873.40
No. Observations:                     100   AIC:                             1783.
Df Residuals:                          82   BIC:                             1830.
Df Model:                              17
Covariance Type:                nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept          -1191.8866    416.094     -2.864      0.005   -2019.631    -364.142
Sex[T.MALE]         6167.4226    364.855     16.904      0.000    5441.609    6893.236
Age[T.age_15_17]    3311.4124   1035.097      3.199      0.002    1252.274    5370.551
Age[T.age_18_20]    5006.9382   1039.850      4.815      0.000    2938.346    7075.530
Age[T.age_21_24]    1.087e+04    742.208     14.639      0.000    9388.586    1.23e+04
Age[T.age_25_29]    1.917e+04    710.407     26.983      0.000    1.78e+04    2.06e+04
Age[T.age_30_34]    3.254e+04    744.644     43.701      0.000    3.11e+04     3.4e+04
Age[T.age_35_39]    3.853e+04    742.208     51.907      0.000     3.7e+04       4e+04
Age[T.age_40_44]     4.27e+04    783.360     54.506      0.000    4.11e+04    4.43e+04
Age[T.age_45_49]    4.458e+04    783.360     56.910      0.000     4.3e+04    4.61e+04
Age[T.age_50_54]     4.55e+04    798.939     56.951      0.000    4.39e+04    4.71e+04
Age[T.age_55_59]    4.374e+04    788.848     55.453      0.000    4.22e+04    4.53e+04
Age[T.age_60_64]    3.754e+04    842.463     44.564      0.000    3.59e+04    3.92e+04
Age[T.age_65_69]    2.469e+04    852.238     28.976      0.000     2.3e+04    2.64e+04
Age[T.age_70_74]    1.235e+04    918.235     13.453      0.000    1.05e+04    1.42e+04
Age[T.age_75_79]    8869.2809    918.738      9.654      0.000    7041.618    1.07e+04
Age[T.age_80_84]    7707.8866   1044.580      7.379      0.000    5629.884    9785.889
Age[T.age_85_over]  8321.8866   1245.052      6.684      0.000    5845.081    1.08e+04
==============================================================================
Omnibus:                       10.024   Durbin-Watson:                   2.016
Prob(Omnibus):                  0.007   Jarque-Bera (JB):                9.984
Skew:                          -0.728   Prob(JB):                      0.00679
Kurtosis:                       3.527   Cond. No.                         12.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""